<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008235958957-t462gv3d4qf4cdhkjsvv9p8vrj110h2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008235958957-t462gv3d4qf4cdhkjsvv9p8vrj110h2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAoCWE7CqgktuI7CleKwpHY1lJ0gLiygdc</string>
	<key>GCM_SENDER_ID</key>
	<string>1008235958957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-application1</string>
	<key>PROJECT_ID</key>
	<string>testsnslogin-60be3</string>
	<key>STORAGE_BUCKET</key>
	<string>testsnslogin-60be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008235958957:ios:b07e7fdb759733ec7d6c24</string>
</dict>
</plist>